/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  :root {
    --main-color: #2196f3;
    --main-color-alt: #1787e0;
    --main-transition: 0.3s;
    --main-padding-top: 100px;
    --main-padding-bottom: 100px;
    --section-background: #ececec;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  a {
    text-decoration: none;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .container{
    padding-left: 15px;
    padding-right: 15px;
    margin-left:auto;
    margin-right:auto;
}

/* Small  */
@media (min-width: 768px) {
    .container{
        width: 750px;
    }
}

/* Medium  */
@media (min-width: 992px) {
    .container{
        width: 970px;
    }
}

/* large  */
@media (min-width: 1200px) {
    .container{
        width: 1170px;
    }
}

.main-title{
    margin: 0px auto 80px;
    border: 2px solid black;
    padding:10px 20px;
    width: fit-content;
    font-size: 30px;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
}

.main-title::before{
    content: "";
    position: absolute;
    left: -30px;
    top:50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.main-title::after{
    content: "";
    position: absolute;
    right: -30px;
    top:50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: var(--main-color);
}

.main-title:hover::before{
    z-index: -1;
    animation: left-move 0.5s linear forwards;
}

.main-title:hover::after{
    z-index: -1;
    animation: right-move 0.5s linear forwards;
}

.main-title:hover{
    color: white;
    border:2px solid white;
    transition-delay: 0.5s;
}

/* End Global Rules */

/* Start Heading */
.header{
    background-color: white;
    box-shadow: 0 0 10px #ddd;
    position: relative;
}

.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}


.header .container .logo{
    font-size: 26px;
    color: var(--main-color);
    height: 72px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 767px) {
    .header .container .logo{
        width: 100%;
        height: 50px;
    }
}


.header .container .main-nav{
    display: flex;
}

@media (max-width: 767px) {
    .header .container .main-nav{
        margin: auto;
    }
}


.header .container .main-nav > li > a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 72px;
    padding: 0 30px;
    color: black;
    overflow: hidden;
    position: relative;
    transition: var(--main-transition);
}


@media (max-width: 767px) {
    .header .container .main-nav > li > a{
        padding: 10px;
        font-size: 14px;
        height: 40px;
    }
}

.header .container .main-nav > li > a::before{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 4px;
    width: 100%;
    top: 0;
    left: -100%;
    transition: var(--main-transition);
}

.header .container .main-nav > li > a:hover{
    background-color: #fafafa;
    color: var(--main-color);
}


.header .container .main-nav > li > a:hover::before{
    left: 0;
}

.header .main-nav > li:hover .mega-menu {
    opacity: 1;
    z-index: 100;
    top: calc(100% + 1px);
}

.header .mega-menu{
    position: absolute;
    background-color: white;
    width: 100%;
    z-index: -1;
    left: 0;
    display: flex;
    gap: 40px;
    border-bottom: 3px solid var(--main-color);
    padding: 30px;
    top: calc(100% + 50px);
    transition: top var(--main-transition),opacity var(--main-transition);
    opacity: 0;
}
@media (max-width: 767px) {
    .header .mega-menu{
        flex-wrap: wrap;
        gap: 0;
        padding: 5px;
    }
}


.header .mega-menu .links{
    min-width: 250px;
    flex: 1;
}

.header .mega-menu .links li{
   position: relative;
}

.header .mega-menu .links li::before{
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    left:0;
    top:0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--main-transition);
 }

 .header .mega-menu .links li:hover::before{
   width: 100%;
 }
 .header .mega-menu .links li:not(:last-child){
    border-bottom: 1px solid #e9e6e6;
 }

 @media (max-width: 767px) {
    .header .mega-menu .links:first-of-type li:last-child{
        border-bottom: 1px solid #e9e6e6;
    }
}

.header .mega-menu .links li a{
    font-size: 18px;
    font-weight: bold;
    color: var(--main-color);
    display: block;
    padding: 15px;
}


.header .mega-menu .links li a i{
    margin-right: 10px;
}
.header .mega-menu img{
    max-width: 100%;
}

@media (max-width:991px) {
    .header .mega-menu .image{
        display: none;
    }
}


/* End Heading */


/* Start Landing */
.landing{
    position: relative;
}
.landing::before{
    content: "";
    position: absolute;
    background-color: var(--section-background);
    width: 100%;
    height: 100%;
    left: 0;
    z-index: -1;
    top: -40px;
    transform: skewY(-6deg);
    transform-origin: top left;
}

.landing .container{
    height: calc(100vh - 72px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 120px;
}

.landing .container .image img{
    width: 600px;
    position: relative;
    animation: up-and-down 5s linear infinite;
}

@media (max-width:991px){
    .landing .container .image{
        display: none;
    }
}

.landing .text{
    flex:1;
}

@media (max-width:991px){
    .landing .text{
        text-align: center;
    }
}


.landing .text h1{
    font-size: 40px;
    margin: 0;
    letter-spacing: -2px;
}
@media (max-width:991px){
    .landing .text h1{
        text-align: center;
        font-size: 28px;
    }
}

.landing .text p{
    font-size: 23px;
    line-height: 1.7;
    color: #666;
    margin: 5px 0 0;
    max-width: 500px;
}

@media (max-width:991px){
    .landing .text p{
        margin: 10px auto;
        font-size: 18px;
    }
}

.landing .container .go-down{
    position: absolute;
    bottom:30px;
    left: 50%;
    transform: translateX(-50%);
    color: var(--main-color);
    transition: var(--main-transition);
}

.landing .container .go-down:hover{
    color: var(--main-color-alt);
}

.landing .container .go-down i{
    animation: bouncing 1.5s infinite;
}

/* End Landing */

/* Start Articles */
.articles{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.articles .container .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    row-gap: 40px;
    column-gap: 50px;
}
.articles .container  .card img{
    max-width: 100%;
}

.articles .container .card{
    background-color: white;
    box-shadow: 0 2px 15px rgb(0 0 0 / 10%);
    border-radius: 6px;
    overflow: hidden;
    transition: var(--main-transition);
}

.articles .container .card:hover{
    transform: translateY(-10px);
    box-shadow: 0 2px 15px rgb(0 0 0 / 20%);
}

.articles .container .card:hover i{
    animation: arow-animation 0.6s linear infinite;
}

.articles .container .card .image{
    width: 100%;
}

.articles .container .info{
    padding: 20px;
    padding-bottom: 5px;
    border-bottom: 0.5px solid #E6e6e7;
}

.articles .container .info h4{
    font-size: 20px;
    margin: 0;
}

.articles .container .info p{
    line-height: 1.7;
    color: #666;
}

.articles .container .button{
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.articles .container .button a{
    color: var(--main-color);
    font-weight: bold
}

.articles .container .button i{
    color: var(--main-color);
    font-weight: bold;    
}
/* End Articles */

/* Start Gallery */

.gallery{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}

.gallery .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.gallery .container .box{
    padding: 15px;
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
}

.gallery .container .image{
    position: relative;
    overflow: hidden;
}

.gallery .container .image::before{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 0px;
    height: 0px;
    opacity: 0;
    background-color: rgb(255 255 255 / 20%);
    z-index: 2;
}

.gallery .container .image:hover::before{
    animation: flashing 0.7s;
}


.gallery .container img{
    max-width: 100%;
    transition: var(--main-transition);
}

.gallery .container .image:hover img{
    transform: rotate(5deg) scale(1.1);
}
/* End Gallery */

/* Start Features */
.features{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.features .container .box{
    border: 1px solid rgb(0 0 0 / 20%);
    text-align: center;
}

.features .image-holder{
    overflow: hidden;
    position: relative;
}

.features .image-holder::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.features .quality .image-holder::after{
    background-color: rgb(244 64 54 / 60%);
}

.features .time .image-holder::after{
    background-color: rgb(0 150 136 /60%);
}

.features .passion .image-holder::after{
    background-color: rgb(3 169 244 /60%);
}


.features .image-holder::before{
    content: "";
    position: absolute;
    right: 0;
    bottom:0;
    border-style: solid;
    border-width:  0 0 170px 500px;
    border-color: transparent transparent white transparent;
    z-index: 100;
    transition: var(--main-transition);
}

.features .image-holder img{
    max-width: 100%;
}

.features .container .box:hover .image-holder::before{
    border-width:  170px 500px 170px 0;
}

.features .container .box h1{
    font-size: 40px;
    padding: 20px;
    position: relative;
    width: fit-content;
    margin:auto;
    margin-bottom: 40px;
}

.features .container .box h1::after{
    content: "";
    position: absolute;
    height: 4px;
    width: calc( 100% - 75px);
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.features .quality  h1::after{
    background-color: #f44036;
}
.features .time  h1::after{
    background-color: #006988;
}
.features .passion  h1::after{
    background-color: #03a9f4;
}

.features .container .box p{
    line-height: 1.7;
    color: #666;
    font-size: 20px;
    padding: 20px;
}

.features .container .box a{
    display: block;
    width: fit-content;
    padding: 10px 30px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
}

.features .container .box a::before{
    content: "";
    position: absolute;
    left: -100%;
    top:0;
    height: 100%;
    width: 100%;
    transition:var(--main-transition);
    z-index: -1;
}

.features .container .box:hover a::before{
    left: 0;
}

.features .box:hover a{
    color: white;
}

.features .quality a{
    border: 3px solid #f44036;
    color: #f44036;
}
.features .time a{
    border: 3px solid #006988;
    color: #006988;
}
.features .passion a{
    border: 3px solid #03a9f4;
    color: #03a9f4;
}


.features .quality a::before{
   background-color: #f44036;
}
.features .time a::before{
    background-color: #006988;
 }
 .features .passion a::before{
    background-color: #03a9f4;
 }

/* End Features */

/* Start testimonials */
.testimonials{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
}

.testimonials .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 40px;
}

.testimonials .container .box{
    position: relative;
}

.testimonials .container .box .avatar{
    background-color: var(--section-background);
    width: 100px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top:-60px;
    right: -10px;
}

.testimonials .container .box img{
    max-width: 100%;
    border-radius: 50%;
}

.testimonials .container .info{
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.testimonials .container .info h4{
    margin: 0;
    font-size: 20px;
}

.testimonials .container .info p:last-child{
    color: #777;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 10px;
}

.testimonials .container .info .job{
    color: #777;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* End testimonials */

/* Start Team */
.team{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}
.team .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    gap: 20px;
}

.team .box{
    position: relative;
}

.team .box::before,
.team .box::after{
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    border-radius: 5px;
    transition: var(--main-transition);
}

.team .box::before{
    background-color: var(--section-background);
    z-index: -2;
    width: calc(100% - 60px);
}

.team .box::after{
    z-index: -1;
    background-color: #e4e4e4;
    width: 0;
}

.team .box:hover::after {
    width: calc(100% - 60px);
}

.team .box:hover img{
   filter: grayscale(100%);
}

.team .data{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 60px;
}

.team img{
    width: calc(100% - 60px);
    transition: var(--main-transition);
    border-radius: 10px;
}

.team .social{
    width: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}

.team .social a{
   width:60px;
   height: 40px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.team .box .data .social a:hover i {
color: var(--main-color);
}
.team .box .data .social i {
color: #777;
transition: var(--main-transition);
}

.team .info{
    padding-left: 80px;
}

.team .info h3{
  margin-bottom: 0;
  color: var(--main-color);
  font-size: 22px;
  transition: var(--main-transition);
}

.team .box .info p {
    margin-top: 10px;
    margin-bottom: 25px;
  }
  .team .box:hover .info h3 {
    color: #777;
  }

/* End Team */

/* Start Services */
.services{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}

.services .container{
   display: grid;
   grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
   gap: 40px;
}

.services .box{
   counter-increment: service-increment;
   background-color: white;
   transition: var(--main-transition);
   position: relative;
   box-shadow: 0 12px 20px 0 rgb(0 0 0 / 13%), 0 2px 4px 0 rgb(0 0 0 / 12%);
}

.services .box::after{
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    top: -3px;
    background-color: var(--main-color);
    width: 0;
    transition: var(--main-transition);
}

.services .box:hover{
    transform: translateY(-10px);
}

.services .box:hover::after{
   width: 100%;
}

.services .box > i{
    text-align: center;
    margin: 30px auto 20px;
    display: block;
    color: #d5d5d5;
}


.services .box > h3{
    text-align: center;
    margin: 20px auto 40px;
    font-size: 25px;
    color: var(--main-color);
}

.services .box .info{
    padding: 15px;
    position: relative;
    color: #f9f9f9;
    text-align: right;
}

.services .box .info::before{
    content: "0" counter(service-increment);
    position: absolute;
    background-color: var(--main-color);
    color: white;
    left: 0;
    top: 0;
    height: 100%;
    width: 100px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.services .box .info::after{
    content: "";
    position: absolute;
    background-color: #d5d5d5;
    top: 0;
    left: 80px;
    width: 50px;
    height: 100%;
    transform: skewX(-30deg);
}

.services .box a{
 color: var(--main-color);

}
/* End Services */

/* Start Skills */
.skills{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.skills .container{
    display: flex;
    justify-content: space-between;
}
.skills .container .content{
    flex:1;
}

.skills .container .skill-content .skill{
    background-color: var(--section-background);
    position: relative;
}

.skills .container .content span{
    display: block;
    height: 30px;
    background-color:var(--main-color);
    position: relative;
}

.skills .container .content span::before{
    content: "";
    background-color: var(--section-background);
    position:absolute;
    width:100%;
    left: 0;
    bottom: 0;
    height: calc(50% - 2px);
    z-index: -1;
}

.skills .container .content .skill::after{
    content: attr(skill-prog);
    position: absolute;
    right: 0;
    top: -40px;
    border: 1px solid #d7d7d7;
    font-size: 13px;
    padding: 3px;
    border-radius: 5px;
    color: var(--main-color);
    font-weight: bold;
}
.skills .container .skill-content p{
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
}

@media (max-width: 991px) {
    .skills .container img{
       display: none;
    }
}
/* End Skills */

/* Start Work */
.work{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
    background-color: var(--section-background);
}
.work .image{
    max-width: 100%;
}

@media (max-width: 1200px) {
    .work .image {
       display: none;
    }
}

.work .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.work .container .box img{
    width: 64px;
    margin-right: 30px;
}

.work .container .box{
    background-color:#f6f5f5;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 30px;
    border: 2px solid white;
    align-items: center;
    border-radius: 6px;
    position: relative;
    z-index: 1;
}

.work .container .box::after{
    content: "";
    position: absolute;
    height: 0;
    left: 50%;
    top: 50%;
    width: 0;
    transform: translate(-50%,-50%);
    background-color: #ededed;
    transition: var(--main-transition);
    z-index: -1;
}

.work .container .box:hover::after{
    width: 100%;
    height: 100%;
}

.work .container .box h2{
    font-size: 22px;
    margin: 0;
}

.work .container .box p{
    color: #777;
    line-height: 1.7;
    margin: 10px 0 0;
    font-size: 18px;
}
/* End Work */



/* Start Events */
.events{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.events .container{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.events .container img{
    max-width: 450px;
}

@media (max-width: 991px) {
    .events img {
      display: none;
    }
}
.events .info {
    flex: 1;
}

.events .info .time{
    display: flex;
    align-items: center;
    margin: 20px auto;
    gap: 10px;
    justify-content: center;
}
.events .info .time .unit{
    border: 1px solid #d4d4d4;
    border-radius: 6px;
    text-align: center;
    width: 75px;
    transition: var(--main-transition);
}

.events .info span{
    display: block;
    transform: var(--main-transition);
}


.events .info span:first-child{
    font-size:35px;
    font-weight: bold;
    padding: 15px;
    color: var(--main-color);
}

.events .info span:last-child{
    padding: 8px 10px;
    font-size: 13px;
    border-top: 1px solid #d4d4d4;
}

.events .info .time .unit:hover,
.events .info .time .unit:hover span:last-child{
    border-color:var(--main-color) ;
}

.events .title{
    text-align: center;
    font-size: 30px;
    margin: 40px 0 0;
}
.events .description{
    line-height: 1.7;
    color: #777;
    font-size: 19px;
    text-align: center;
}

.events .subscribe{
    width: 100%;
    margin-top: 50px;
}

.events .subscribe form{
    width: 600px;
    margin: 20px auto;
    padding: 30px 40px;
    background-color: #f6f5f5;
    border-radius: 50px;
    display: flex;
    gap: 20px;
}

@media (max-width:767px) {
    .events .subscribe form{
        max-width: 100%;
        padding: 20px;
        flex-direction: column;
        border-radius: 0;
    }
}

.events .subscribe form input[type="email"]{
    padding: 20px;
    border-radius: 50px;
    border: none;
    flex: 1;
    caret-color: var(--main-color);
}

@media (max-width: 767px) {
    .events .subscribe form input[type="email"] {
      border-radius: 0;
    }
}
.events .subscribe form input[type="email"]:focus {
    outline: none;
}
.events .subscribe form input[type="email"]::placeholder{
    transition: opacity var(--main-transition);
}
.events .subscribe form input[type="email"]:focus::placeholder {
    opacity: 0;
}
.events .subscribe form input[type="submit"]{
    border-radius: 50px;
    padding: 20px;
    color: white;
    border: none;
    cursor: pointer;
    background: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}
@media (max-width: 767px) {
    .events .subscribe form input[type="submit"] {
      border-radius: 0;
    }
}
.events .subscribe form input[type="submit"]:hover{
    background-color: var(--main-color-alt);
}

/* End Events */

/* Start Pricing */
.pricing{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-color: var(--section-background);
    position: relative;
}
.pricing .container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
    text-align: center;
    gap: 20px;
}

.pricing .plan {
    background-color: white;
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 13%), 0px 2px 4px 0px rgb(0 0 0 / 12%);
    position: relative;
    z-index: 2;
}

.pricing .plan:after,
.pricing .plan::before{
    content: "";
    position: absolute;
    width: 0;
    height: 50%;
    background-color: #ededed;
    transition: var(--main-transition);
    z-index: -1;
}

.pricing .plan::before{
    right:0;
    bottom: 0;
}

.pricing .plan::after{
    left:0;
    top: 0;
}

.pricing .plan:hover::after,
.pricing .plan:hover::before{
    width: 100%;
}

.pricing .popular{
    transform: translateY(-15px);
    position: relative;
}

@media (max-width:992px) {
    .pricing .popular{
        transform: none;
    }
}

.pricing .plan .popular{
    position: relative;
}

.pricing .plan .bookmark{
    position: absolute;
    width: 40px;
    height: 160px;
    writing-mode: vertical-lr;
    display: flex;
    align-items: center;
    color: white;
    padding-top:10px ;
    font-size: 20px;
    font-weight: bold;
    text-transform: capitalize;
    right: 10px;
    top: 0;
    background-color: var(--main-color);
}

.pricing .plan .bookmark::after{
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    border-style: solid;
    border-color:transparent transparent white ;
    border-width: 20px;
}

.pricing .plan .price{
    font-size: 53px;
    color: var(--main-color);
    font-weight: bold;
    margin: 10px 0;
}

.pricing .plan > p:last-of-type{
    color: #777;
    text-transform: capitalize;
}

.pricing .plan img {
    max-width: 100px;
}

.pricing .info{
    text-align: left;
}

.pricing .info .box{
    display: flex;
    align-items: center;
}

.pricing .info .box:not(:last-of-type){
    border-top: 1px solid #d4d4d4;
    padding:5px 10px;
}

.pricing .info .box i{
    margin-right: 10px;
    font-weight: 900;
}


.pricing .submit{
    padding: 50px 20px;
    text-align: center;
}   

.pricing .submit a{
    padding: 10px 20px;
    border: 2px solid var(--main-color);
    border-radius:10px;
    color: var(--main-color);
    font-weight: bold;
    transition: var(--main-transition);
}

.pricing .submit a:hover{
    background-color: var(--main-color);
    color: white;
}
/* End Pricing */

/* Start Videos */
.videos{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    position: relative;
}

.videos .holder{
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 1px solid #DDD;
    padding: 0;
}

@media (max-width:992px){
    .videos .holder{
        grid-template-columns: 1fr;
    }
}

.videos .timeline{
    background-color: white;
    flex:1;
}

.videos .timeline .title-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f4f4f4;
    padding: 0 15px;
    text-transform: capitalize;
}

.videos .timeline ul li{
    padding-left: 15px;
    border: 1px solid #DDD;
    cursor: pointer;
    transition: var(--main-transition);
}

.videos .timeline ul li:hover{
    background-color: #f4f4f4;
}

.videos .timeline ul li:hover p:first-of-type{
    color: var(--main-color);
}

.videos .timeline ul .time{
    color: #777;
}
.videos .video{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    background-color: #e1e1e1;
    gap: 10px;
}
.videos .video p{
    background-color: white;
    padding: 20px 20px;
    margin: 0;
}


.videos .video img{
    max-width: 100%;
}
/* End Videos */

/* Start Stats */
.stats{
    padding-top: var(--main-padding-top);
    padding-bottom: var(--main-padding-bottom);
    background-image: url("/images/stats.jpg");
    background-size: cover;
    position: relative;
    z-index: 1;
}

.stats::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255 255 255 / 95%);
    z-index: -1;
}

.stats .container{
    text-align: center;
    z-index: 3;
}

.stats .container .content{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}


.stats .container .content .box{
    background-color: white;
    padding: 20px 90px;
    position: relative;
}


.stats .container .content .box::after,
.stats .container .content .box::before{
    content: "";
    position: absolute;
    width: 2px;
    height: 0;
    background-color: var(--main-color);
    transition: 1.2s;
}

.stats .container .content .box::after{
    left: 0;
    top: 0;
}

.stats .container .content .box::before{
    right: 0;
    bottom: 0;
}
.stats .container .content .box:hover::after,
.stats .container .content .box:hover::before{
    height: 100%;
}


.stats .container .content .box i{
    font-size: 35px;
}

.stats .container .content .box h3{
    font-size: 50px;
    margin-bottom: 0;
    margin-top: 10px;
}

.stats .container h1{
    font-size: 40px;
}


.stats .container .content .box p{
    color: var(--main-color);
    font-weight: bold;
    font-size: 20px;
    font-style: italic;
}
/* End Stats */


/* Start discount */
.discount{
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.discount .page{
    background-image: url("/images/discount-background2.jpg");
    position: relative;
    z-index: 1;
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
}

@media (max-width:991px) {
    .discount .page{
        flex-basis: 100%;
    }
}

.discount .page::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgb(23 134 225 / 95%);
    left: 0;
    top: 0;
    z-index: -1;
}

.discount .page img{
    max-width: 300px;
}

.discount .page h1{
    font-size: 40px;
    color: white;
    letter-spacing: -1px;
}

.discount .page p{
    font-size: 19px;
    color: white;
    line-height: 1.7;
    max-width: 500px;
}


.discount .request{
    padding: 20px;
    flex-basis: 50%;
}

@media (max-width:991px) {
    .discount .request{
        flex-basis: 100%;
    }
}

.discount .request h1{
    font-size: 40px;
    letter-spacing: -1px;
}


.discount .request form{
    display: flex;
    justify-self: center;
    flex-direction: column;
    align-items: center;

}

.discount .request form input{
    padding: 15px 30px;
    width: 300px;
    display: block;
    margin-bottom: 20px;
    background-color: #f9f9f9;
    border: none;
    border-bottom: 1px solid #DDD;
    caret-color: var(--main-color);
    margin-left: auto;
    margin-right: auto;
}

.discount .request form input:focus,
.discount .request textarea:focus{
    outline: none;
}
.discount .request textarea{
    width: 300px;
    height: 200px;
    padding: 10px;
    caret-color: var(--main-color);
    background-color: #f9f9f9;
    border:none;
    border-bottom: 1px solid #DDD;
    resize: none;
}

.discount .request button{
    width: 300px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    border: none;
    background-color: var(--main-color);
    margin-top: 20px;
    text-transform: capitalize;
}

/* End discount */

/* Start footer */
.footer {
    background-color: #191919;
    padding: 70px 0 0;
  }
  @media (max-width: 767px) {
    .footer {
      text-align: center;
    }
  }
  .footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 40px;
  }
  .footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
  }
  .footer .box .social {
    display: flex;
  }
  @media (max-width: 767px) {
    .footer .box .social {
      justify-content: center;
    }
  }
  .footer .box .social li {
    margin-right: 10px;
  }
  .footer .box .social li a {
    background-color: #313131;
    color: #b9b9b9;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 20px;
    transition: var(--main-transition);
  }
  .footer .box .social .facebook:hover {
    background-color: #1877f2;
  }
  .footer .box .social .twitter:hover {
    background-color: #1da1f2;
  }
  .footer .box .social .youtube:hover {
    background-color: #ff0000;
  }
  .footer .box .text {
    line-height: 2;
    color: #b9b9b9;
  }
  .footer .box .links li {
    padding: 15px 0;
    transition: var(--main-transition);
  }
  .footer .box .links li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
  .footer .box .links li:hover {
    padding-left: 10px;
  }
  .footer .box .links li:hover a {
    color: white;
  }
  .footer .box .links li a {
    color: #b9b9b9;
    transition: var(--main-transition);
  }
  .footer .box .links li a::before {
    font-family: "Font Awesome 5 Free";
    content: "\F101";
    font-weight: 900;
    margin-right: 10px;
    color: var(--main-color);
  }
  .footer .box .line {
    display: flex;
    align-items: center;
    color: #b9b9b9;
    margin-bottom: 30px;
  }
  @media (max-width: 767px) {
    .footer .box .line {
      flex-direction: column;
    }
  }
  .footer .box .line i {
    font-size: 25px;
    color: var(--main-color);
    margin-right: 10px;
  }
  @media (max-width: 767px) {
    .footer .box .line i {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  .footer .box .line .info {
    line-height: 1.7;
    flex: 1;
  }
  .footer .box .line .info span {
    display: block;
  }
  .footer .footer-gallery img {
    width: 78px;
    border: 3px solid white;
    margin: 2px;
  }

/* End footer */

/* Start Animation */
@keyframes up-and-down {
    0%,
    100%{
        top: 0;
    }
    50%{
        top:-50px;
    }
}

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100%{
        transform: translateY(0);
    }
    40%,
    60%{
       transform: translateY(15px);
    }
}

@keyframes left-move {
    50%{
        left: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        left: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}


@keyframes right-move {
    50%{
        right: 0;
        width: 12px;
        height: 12px;
    }
    100%{
        right: 0;
        border-radius: 0;
        width: 50%;
        height: 100%;
    }
}

@keyframes arow-animation {
    100%{
        transform: translateX(10px);
    }
}


@keyframes flashing {
    0%,40%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        width: 200%;
        height: 200%;
    }
}

/* End Animation */